@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gill Sans';
  font-weight: normal;
  src: url("../font/Gill Sans.otf") format("opentype");
}

/* Phenomena-Thin.otf */
/* Phenomena-ExtraLight.otf */
/* Phenomena-Light.otf */

@font-face {
  font-family: 'Phenomena';
  font-weight: 400;
  src: url("../font/Phenomena-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Phenomena';
  font-weight: 700;
  src: url("../font/Phenomena-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Phenomena';
  font-weight: 800;
  src: url("../font/Phenomena-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: 'Phenomena';
  font-weight: 900;
  src: url("../font/Phenomena-Black.otf") format("opentype");
}
