*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.14 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: Gill Sans, Aller, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.prose {
  color: var(--tw-prose-body);
  max-width: 100%;
}

.prose :where(p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where([class~="lead"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-lead);
  font-size: 1.25em;
  line-height: 1.6;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
}

.prose :where(a):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-links);
  text-decoration: underline;
  font-weight: 500;
}

.prose :where(strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-bold);
  font-weight: 600;
}

.prose :where(a strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: decimal;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.prose :where(ol[type="A"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="A" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-alpha;
}

.prose :where(ol[type="a" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-alpha;
}

.prose :where(ol[type="I"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="I" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: upper-roman;
}

.prose :where(ol[type="i" s]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: lower-roman;
}

.prose :where(ol[type="1"]):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: decimal;
}

.prose :where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  padding-inline-start: 1.625em;
}

.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  font-weight: 400;
  color: var(--tw-prose-counters);
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *))::marker {
  color: var(--tw-prose-bullets);
}

.prose :where(dt):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.25em;
}

.prose :where(hr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-color: var(--tw-prose-hr);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em;
}

.prose :where(blockquote):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 500;
  font-style: italic;
  color: var(--tw-prose-quotes);
  border-inline-start-width: 0.25rem;
  border-inline-start-color: var(--tw-prose-quote-borders);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-inline-start: 1em;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: open-quote;
}

.prose :where(blockquote p:last-of-type):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: close-quote;
}

.prose :where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 800;
  font-size: 2.25em;
  margin-top: 0;
  margin-bottom: 0.8888889em;
  line-height: 1.1111111;
}

.prose :where(h1 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 900;
  color: inherit;
}

.prose :where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.prose :where(h2 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 800;
  color: inherit;
}

.prose :where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  font-size: 1.25em;
  margin-top: 1.6em;
  margin-bottom: 0.6em;
  line-height: 1.6;
}

.prose :where(h3 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(h4):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.prose :where(h4 strong):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 700;
  color: inherit;
}

.prose :where(img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(picture):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(video):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(kbd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  font-weight: 500;
  font-family: inherit;
  color: var(--tw-prose-kbd);
  box-shadow: 0 0 0 1px rgb(var(--tw-prose-kbd-shadows) / 10%), 0 3px 0 rgb(var(--tw-prose-kbd-shadows) / 10%);
  font-size: 0.875em;
  border-radius: 0.3125rem;
  padding-top: 0.1875em;
  padding-inline-end: 0.375em;
  padding-bottom: 0.1875em;
  padding-inline-start: 0.375em;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-code);
  font-weight: 600;
  font-size: 0.875em;
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: "`";
}

.prose :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: "`";
}

.prose :where(a code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h1 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(h2 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.875em;
}

.prose :where(h3 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
  font-size: 0.9em;
}

.prose :where(h4 code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(blockquote code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(thead th code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: inherit;
}

.prose :where(pre):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-pre-code);
  background-color: var(--tw-prose-pre-bg);
  overflow-x: auto;
  font-weight: 400;
  font-size: 0.875em;
  line-height: 1.7142857;
  margin-top: 1.7142857em;
  margin-bottom: 1.7142857em;
  border-radius: 0.375rem;
  padding-top: 0.8571429em;
  padding-inline-end: 1.1428571em;
  padding-bottom: 0.8571429em;
  padding-inline-start: 1.1428571em;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  font-weight: inherit;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before {
  content: none;
}

.prose :where(pre code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after {
  content: none;
}

.prose :where(table):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  width: 100%;
  table-layout: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 0.875em;
  line-height: 1.7142857;
}

.prose :where(thead):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-th-borders);
}

.prose :where(thead th):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-headings);
  font-weight: 600;
  vertical-align: bottom;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.prose :where(tbody tr):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 1px;
  border-bottom-color: var(--tw-prose-td-borders);
}

.prose :where(tbody tr:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-bottom-width: 0;
}

.prose :where(tbody td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  vertical-align: baseline;
}

.prose :where(tfoot):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  border-top-width: 1px;
  border-top-color: var(--tw-prose-th-borders);
}

.prose :where(tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  vertical-align: top;
}

.prose :where(th, td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  text-align: start;
}

.prose :where(figure > *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(figcaption):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  color: var(--tw-prose-captions);
  font-size: 0.875em;
  line-height: 1.4285714;
  margin-top: 0.8571429em;
}

.prose {
  --tw-prose-body: #374151;
  --tw-prose-headings: #111827;
  --tw-prose-lead: #4b5563;
  --tw-prose-links: #111827;
  --tw-prose-bold: #111827;
  --tw-prose-counters: #6b7280;
  --tw-prose-bullets: #d1d5db;
  --tw-prose-hr: #e5e7eb;
  --tw-prose-quotes: #111827;
  --tw-prose-quote-borders: #e5e7eb;
  --tw-prose-captions: #6b7280;
  --tw-prose-kbd: #111827;
  --tw-prose-kbd-shadows: 17 24 39;
  --tw-prose-code: #111827;
  --tw-prose-pre-code: #e5e7eb;
  --tw-prose-pre-bg: #1f2937;
  --tw-prose-th-borders: #d1d5db;
  --tw-prose-td-borders: #e5e7eb;
  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-kbd: #fff;
  --tw-prose-invert-kbd-shadows: 255 255 255;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;
  font-size: 1rem;
  line-height: 1.75;
}

.prose :where(picture > img):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.prose :where(ol > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0.375em;
}

.prose :where(ul > li):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0.375em;
}

.prose :where(.prose > ul > li p):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(.prose > ul > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose :where(.prose > ul > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(.prose > ol > li > p:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
}

.prose :where(.prose > ol > li > p:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 1.25em;
}

.prose :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.prose :where(dl):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.prose :where(dd):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0.5em;
  padding-inline-start: 1.625em;
}

.prose :where(hr + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h2 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h3 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(h4 + *):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(thead th:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(thead th:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-end: 0;
}

.prose :where(tbody td, tfoot td):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-top: 0.5714286em;
  padding-inline-end: 0.5714286em;
  padding-bottom: 0.5714286em;
  padding-inline-start: 0.5714286em;
}

.prose :where(tbody td:first-child, tfoot td:first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-start: 0;
}

.prose :where(tbody td:last-child, tfoot td:last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  padding-inline-end: 0;
}

.prose :where(figure):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 2em;
  margin-bottom: 2em;
}

.prose :where(.prose > :first-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-top: 0;
}

.prose :where(.prose > :last-child):not(:where([class~="not-prose"],[class~="not-prose"] *)) {
  margin-bottom: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.static {
  position: static;
}

.relative {
  position: relative;
}

.left-0 {
  left: 0px;
}

.top-0 {
  top: 0px;
}

.order-3 {
  order: 3;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.h-0 {
  height: 0px;
}

.h-32 {
  height: 8rem;
}

.h-min {
  height: -moz-min-content;
  height: min-content;
}

.min-h-screen {
  min-height: 100vh;
}

.w-28 {
  width: 7rem;
}

.w-36 {
  width: 9rem;
}

.w-4\/5 {
  width: 80%;
}

.w-60 {
  width: 15rem;
}

.w-8 {
  width: 2rem;
}

.w-\[300px\] {
  width: 300px;
}

.w-full {
  width: 100%;
}

.w-max {
  width: -moz-max-content;
  width: max-content;
}

.w-screen {
  width: 100vw;
}

.max-w-\[1400px\] {
  max-width: 1400px;
}

.max-w-\[95vh\] {
  max-width: 95vh;
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.gap-y-0 {
  row-gap: 0px;
}

.gap-y-2 {
  row-gap: 0.5rem;
}

.gap-y-4 {
  row-gap: 1rem;
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.self-start {
  align-self: flex-start;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-y-scroll {
  overflow-y: scroll;
}

.scroll-smooth {
  scroll-behavior: smooth;
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-green-tone-4 {
  --tw-border-opacity: 1;
  border-color: rgb(108 158 133 / var(--tw-border-opacity));
}

.border-l-triangle-1 {
  --tw-border-opacity: 1;
  border-left-color: rgb(192 49 82 / var(--tw-border-opacity));
}

.border-l-triangle-2 {
  --tw-border-opacity: 1;
  border-left-color: rgb(40 97 78 / var(--tw-border-opacity));
}

.border-l-triangle-3 {
  --tw-border-opacity: 1;
  border-left-color: rgb(247 194 198 / var(--tw-border-opacity));
}

.border-l-triangle-4 {
  --tw-border-opacity: 1;
  border-left-color: rgb(227 234 120 / var(--tw-border-opacity));
}

.border-r-triangle-1 {
  --tw-border-opacity: 1;
  border-right-color: rgb(192 49 82 / var(--tw-border-opacity));
}

.border-r-triangle-2 {
  --tw-border-opacity: 1;
  border-right-color: rgb(40 97 78 / var(--tw-border-opacity));
}

.border-r-triangle-3 {
  --tw-border-opacity: 1;
  border-right-color: rgb(247 194 198 / var(--tw-border-opacity));
}

.border-r-triangle-4 {
  --tw-border-opacity: 1;
  border-right-color: rgb(227 234 120 / var(--tw-border-opacity));
}

.bg-green-tone-7 {
  --tw-bg-opacity: 1;
  background-color: rgb(238 243 236 / var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-transparent {
  --tw-gradient-from: transparent var(--tw-gradient-from-position);
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-green-tone-7 {
  --tw-gradient-to: rgb(238 243 236 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), #eef3ec var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.via-50\% {
  --tw-gradient-via-position: 50%;
}

.to-transparent {
  --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.bg-contain {
  background-size: contain;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.fill-green-tone-2 {
  fill: #2f5141;
}

.p-2 {
  padding: 0.5rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.pt-4 {
  padding-top: 1rem;
}

.text-center {
  text-align: center;
}

.font-sans {
  font-family: Gill Sans, Aller, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-title {
  font-family: Phenomena, Gill Sans, Aller, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-\[20px\] {
  font-size: 20px;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-black {
  font-weight: 900;
}

.font-bold {
  font-weight: 700;
}

.font-extrabold {
  font-weight: 800;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.leading-normal {
  line-height: 1.5;
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-green-tone-2 {
  --tw-text-opacity: 1;
  color: rgb(47 81 65 / var(--tw-text-opacity));
}

.text-green-tone-4 {
  --tw-text-opacity: 1;
  color: rgb(108 158 133 / var(--tw-text-opacity));
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.underline {
  text-decoration-line: underline;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@font-face {
  font-family: 'Gill Sans';

  font-weight: normal;

  src: url("../font/Gill Sans.otf") format("opentype");
}

/* Phenomena-Thin.otf */

/* Phenomena-ExtraLight.otf */

/* Phenomena-Light.otf */

@font-face {
  font-family: 'Phenomena';

  font-weight: 400;

  src: url("../font/Phenomena-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'Phenomena';

  font-weight: 700;

  src: url("../font/Phenomena-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Phenomena';

  font-weight: 800;

  src: url("../font/Phenomena-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: 'Phenomena';

  font-weight: 900;

  src: url("../font/Phenomena-Black.otf") format("opentype");
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute;
}

.before\:left-0::before {
  content: var(--tw-content);
  left: 0px;
}

.before\:left-4::before {
  content: var(--tw-content);
  left: 1rem;
}

.before\:top-0::before {
  content: var(--tw-content);
  top: 0px;
}

.before\:z-\[-1\]::before {
  content: var(--tw-content);
  z-index: -1;
}

.before\:z-\[-2\]::before {
  content: var(--tw-content);
  z-index: -2;
}

.before\:mr-3::before {
  content: var(--tw-content);
  margin-right: 0.75rem;
}

.before\:inline-block::before {
  content: var(--tw-content);
  display: inline-block;
}

.before\:h-0::before {
  content: var(--tw-content);
  height: 0px;
}

.before\:h-5::before {
  content: var(--tw-content);
  height: 1.25rem;
}

.before\:h-full::before {
  content: var(--tw-content);
  height: 100%;
}

.before\:w-0::before {
  content: var(--tw-content);
  width: 0px;
}

.before\:w-5::before {
  content: var(--tw-content);
  width: 1.25rem;
}

.before\:w-full::before {
  content: var(--tw-content);
  width: 100%;
}

.before\:rounded-full::before {
  content: var(--tw-content);
  border-radius: 9999px;
}

.before\:border-y-\[30px\]::before {
  content: var(--tw-content);
  border-top-width: 30px;
  border-bottom-width: 30px;
}

.before\:border-l-\[45px\]::before {
  content: var(--tw-content);
  border-left-width: 45px;
}

.before\:border-y-transparent::before {
  content: var(--tw-content);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.before\:border-l-triangle-2::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(40 97 78 / var(--tw-border-opacity));
}

.before\:border-l-triangle-4::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(227 234 120 / var(--tw-border-opacity));
}

.before\:border-l-triangle-1::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(192 49 82 / var(--tw-border-opacity));
}

.before\:border-l-triangle-3::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(247 194 198 / var(--tw-border-opacity));
}

.before\:bg-green-tone-7::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(238 243 236 / var(--tw-bg-opacity));
}

.before\:bg-pink-500\/30::before {
  content: var(--tw-content);
  background-color: rgb(236 72 153 / 0.3);
}

.before\:bg-yellow-500\/30::before {
  content: var(--tw-content);
  background-color: rgb(234 179 8 / 0.3);
}

.focus-within\:h-fit:focus-within {
  height: -moz-fit-content;
  height: fit-content;
}

.focus-within\:overflow-visible:focus-within {
  overflow: visible;
}

.hover\:h-fit:hover {
  height: -moz-fit-content;
  height: fit-content;
}

.hover\:overflow-visible:hover {
  overflow: visible;
}

.hover\:brightness-150:hover {
  --tw-brightness: brightness(1.5);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.focus\:not-sr-only:focus {
  position: static;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.focus\:absolute:focus {
  position: absolute;
}

.focus\:block:focus {
  display: block;
}

.peer:checked ~ .peer-checked\:font-bold {
  font-weight: 700;
}

.peer:checked ~ .peer-checked\:after\:content-\[\'\2713\'\]::after {
  --tw-content: '✓';
  content: var(--tw-content);
}

.peer:hover ~ .peer-hover\:h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.peer:hover ~ .peer-hover\:overflow-visible {
  overflow: visible;
}

.peer:focus ~ .peer-focus\:h-fit {
  height: -moz-fit-content;
  height: fit-content;
}

.peer:focus ~ .peer-focus\:overflow-visible {
  overflow: visible;
}

.group:has(:focus) .group-has-\[\:focus\]\:underline {
  text-decoration-line: underline;
}

.group:has(:hover) .group-has-\[\:hover\]\:underline {
  text-decoration-line: underline;
}

.group[data-type="chantier"] .group-data-\[type\=chantier\]\:block {
  display: block;
}

.group[data-type="stage"] .group-data-\[type\=stage\]\:block {
  display: block;
}

.group[data-type="tout"] .group-data-\[type\=tout\]\:block {
  display: block;
}

.prose-headings\:font-title :is(:where(h1, h2, h3, h4, h5, h6, th):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  font-family: Phenomena, Gill Sans, Aller, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.prose-headings\:font-normal :is(:where(h1, h2, h3, h4, h5, h6, th):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  font-weight: 400;
}

.prose-h1\:my-0 :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.prose-h1\:ml-10 :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-left: 2.5rem;
}

.prose-h1\:mt-2 :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-top: 0.5rem;
}

.prose-h1\:mb-0 :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-bottom: 0px;
}

.prose-h1\:text-5xl :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  font-size: 3rem;
  line-height: 1;
}

.prose-h1\:uppercase :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  text-transform: uppercase;
}

.prose-h1\:text-green-tone-4 :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  --tw-text-opacity: 1;
  color: rgb(108 158 133 / var(--tw-text-opacity));
}

.prose-h2\:mx-2 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.prose-h2\:mx-0 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-left: 0px;
  margin-right: 0px;
}

.prose-h2\:my-0 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-top: 0px;
  margin-bottom: 0px;
}

.prose-h2\:mt-3 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-top: 0.75rem;
}

.prose-h2\:mb-0 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-bottom: 0px;
}

.prose-h2\:flex :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  display: flex;
}

.prose-h2\:items-center :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  align-items: center;
}

.prose-h2\:justify-start :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  justify-content: flex-start;
}

.prose-h2\:justify-end :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  justify-content: flex-end;
}

.prose-h2\:text-right :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  text-align: right;
}

.prose-h2\:font-title :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  font-family: Phenomena, Gill Sans, Aller, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.prose-h2\:text-green-tone-2 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  --tw-text-opacity: 1;
  color: rgb(47 81 65 / var(--tw-text-opacity));
}

.prose-h2\:text-rose-tone-5 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  --tw-text-opacity: 1;
  color: rgb(204 31 137 / var(--tw-text-opacity));
}

.prose-h2\:before\:mr-3 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  margin-right: 0.75rem;
}

.prose-h2\:before\:inline-block :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  display: inline-block;
}

.prose-h2\:before\:h-0 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  height: 0px;
}

.prose-h2\:before\:w-0 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  width: 0px;
}

.prose-h2\:before\:border-y-\[30px\] :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  border-top-width: 30px;
  border-bottom-width: 30px;
}

.prose-h2\:before\:border-l-\[45px\] :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  border-left-width: 45px;
}

.prose-h2\:before\:border-y-transparent :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.prose-h2\:before\:border-l-triangle-1 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(192 49 82 / var(--tw-border-opacity));
}

.prose-h2\:before\:border-l-triangle-2 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(40 97 78 / var(--tw-border-opacity));
}

.prose-h2\:before\:border-l-triangle-3 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(247 194 198 / var(--tw-border-opacity));
}

.prose-h2\:before\:border-l-triangle-4 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-left-color: rgb(227 234 120 / var(--tw-border-opacity));
}

.prose-h2\:after\:ml-3 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  margin-left: 0.75rem;
}

.prose-h2\:after\:inline-block :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  display: inline-block;
}

.prose-h2\:after\:h-0 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  height: 0px;
}

.prose-h2\:after\:w-0 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  width: 0px;
}

.prose-h2\:after\:border-y-\[30px\] :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  border-top-width: 30px;
  border-bottom-width: 30px;
}

.prose-h2\:after\:border-r-\[45px\] :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  border-right-width: 45px;
}

.prose-h2\:after\:border-y-transparent :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  border-top-color: transparent;
  border-bottom-color: transparent;
}

.prose-h2\:after\:border-r-triangle-1 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-right-color: rgb(192 49 82 / var(--tw-border-opacity));
}

.prose-h2\:after\:border-r-triangle-2 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-right-color: rgb(40 97 78 / var(--tw-border-opacity));
}

.prose-h2\:after\:border-r-triangle-3 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-right-color: rgb(247 194 198 / var(--tw-border-opacity));
}

.prose-h2\:after\:border-r-triangle-4 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
  content: var(--tw-content);
  --tw-border-opacity: 1;
  border-right-color: rgb(227 234 120 / var(--tw-border-opacity));
}

.prose-h3\:px-6 :is(:where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.prose-h3\:text-bordeaux-tone-3 :is(:where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  --tw-text-opacity: 1;
  color: rgb(166 60 82 / var(--tw-text-opacity));
}

.prose-p\:my-1 :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.prose-p\:mt-2 :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-top: 0.5rem;
}

.prose-p\:px-6 :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.prose-p\:text-black :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.prose-a\:text-fuchsia-700 :is(:where(a):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  --tw-text-opacity: 1;
  color: rgb(162 28 175 / var(--tw-text-opacity));
}

.prose-ul\:px-6 :is(:where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.prose-table\:px-6 :is(:where(table):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.prose-img\:mb-2 :is(:where(img):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
  margin-bottom: 0.5rem;
}

@media (min-width: 640px) {
  .sm\:w-\[500px\] {
    width: 500px;
  }

  .sm\:text-7xl {
    font-size: 4.5rem;
    line-height: 1;
  }

  .sm\:before\:mr-8::before {
    content: var(--tw-content);
    margin-right: 2rem;
  }

  .sm\:before\:border-y-\[70px\]::before {
    content: var(--tw-content);
    border-top-width: 70px;
    border-bottom-width: 70px;
  }

  .sm\:before\:border-l-\[105px\]::before {
    content: var(--tw-content);
    border-left-width: 105px;
  }

  .sm\:prose-h1\:ml-20 :is(:where(h1):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    margin-left: 5rem;
  }

  .sm\:prose-h2\:before\:mr-8 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
    content: var(--tw-content);
    margin-right: 2rem;
  }

  .sm\:prose-h2\:before\:border-y-\[70px\] :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
    content: var(--tw-content);
    border-top-width: 70px;
    border-bottom-width: 70px;
  }

  .sm\:prose-h2\:before\:border-l-\[105px\] :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::before {
    content: var(--tw-content);
    border-left-width: 105px;
  }

  .sm\:prose-h2\:after\:ml-8 :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
    content: var(--tw-content);
    margin-left: 2rem;
  }

  .sm\:prose-h2\:after\:border-y-\[70px\] :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
    content: var(--tw-content);
    border-top-width: 70px;
    border-bottom-width: 70px;
  }

  .sm\:prose-h2\:after\:border-r-\[105px\] :is(:where(h2):not(:where([class~="not-prose"],[class~="not-prose"] *)))::after {
    content: var(--tw-content);
    border-right-width: 105px;
  }
}

@media (min-width: 768px) {
  .md\:absolute {
    position: absolute;
  }

  .md\:-bottom-20 {
    bottom: -5rem;
  }

  .md\:left-0 {
    left: 0px;
  }

  .md\:mb-12 {
    margin-bottom: 3rem;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: flex;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-min {
    height: -moz-min-content;
    height: min-content;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-stretch {
    align-items: stretch;
  }

  .md\:justify-evenly {
    justify-content: space-evenly;
  }

  .md\:gap-x-2 {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }

  .md\:gap-x-4 {
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }

  .md\:gap-y-0 {
    row-gap: 0px;
  }

  .md\:space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
  }

  .md\:border-r {
    border-right-width: 1px;
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .md\:no-underline {
    text-decoration-line: none;
  }

  .focus-within\:md\:py-10:focus-within {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .hover\:md\:py-10:hover {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .peer:hover ~ .peer-hover\:md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .peer:focus ~ .peer-focus\:md\:py-10 {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  @media not all and (min-width: 1024px) {
    .md\:max-lg\:flex-row {
      flex-direction: row;
    }
  }
}

@media (min-width: 1024px) {
  .lg\:mt-8 {
    margin-top: 2rem;
  }

  .lg\:mt-\[10vh\] {
    margin-top: 10vh;
  }

  .lg\:mt-\[30vh\] {
    margin-top: 30vh;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-2\/5 {
    width: 40%;
  }

  .lg\:flex-row {
    flex-direction: row;
  }

  .lg\:flex-row-reverse {
    flex-direction: row-reverse;
  }

  .lg\:justify-around {
    justify-content: space-around;
  }

  .lg\:gap-x-0 {
    -moz-column-gap: 0px;
         column-gap: 0px;
  }

  .lg\:gap-x-6 {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }

  .lg\:gap-y-6 {
    row-gap: 1.5rem;
  }

  .lg\:self-start {
    align-self: flex-start;
  }

  .lg\:self-stretch {
    align-self: stretch;
  }

  .lg\:bg-green-tone-7 {
    --tw-bg-opacity: 1;
    background-color: rgb(238 243 236 / var(--tw-bg-opacity));
  }

  .lg\:object-cover {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .before\:lg\:w-\[70\%\]::before {
    content: var(--tw-content);
    width: 70%;
  }
}

@media (min-width: 1280px) {
  .xl\:top-0 {
    top: 0px;
  }

  .xl\:order-none {
    order: 0;
  }

  .xl\:flex {
    display: flex;
  }

  .xl\:h-min {
    height: -moz-min-content;
    height: min-content;
  }

  .xl\:w-auto {
    width: auto;
  }

  .xl\:flex-nowrap {
    flex-wrap: nowrap;
  }

  .xl\:gap-x-2 {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }

  .xl\:overflow-y-visible {
    overflow-y: visible;
  }

  .xl\:prose-h3\:px-12 :is(:where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .xl\:prose-p\:px-12 :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .xl\:prose-ul\:px-12 :is(:where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .xl\:prose-table\:px-12 :is(:where(table):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1536px) {
  .\32xl\:prose-h3\:px-20 :is(:where(h3):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .\32xl\:prose-p\:px-20 :is(:where(p):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .\32xl\:prose-ul\:px-20 :is(:where(ul):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .\32xl\:prose-table\:px-20 :is(:where(table):not(:where([class~="not-prose"],[class~="not-prose"] *))) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
