{%- import "macros.html" as macros -%}
{%- set title = "Le Bord de l'Eau" -%}
{%- if page.title -%}
{%- set title = page.title~" - "~title -%}
{%- endif -%}
{#%- set description = "Le Bord de l'Eau" -%#}
{% block data %}{% endblock data %}
<!DOCTYPE html>
<html lang="fr" class="scroll-smooth text-[20px] font-sans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href={{ get_url(path='img/logo.png' ) }}>
  <link rel="stylesheet" href={{ get_url(path='css/main.css' ) }}>

  <title>{{ title }}</title>
	{#<meta name="description" content="{{ description | safe }}">#}

  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ title | safe }}">
  <meta property="og:title" content="{{ title | safe }}">
  <meta name="twitter:title" content="{{ title | safe }}">

  <meta property="twitter:domain" content="{{ config.base_url
										| replace(from='https://', to='') | replace(from='http://', to='') | safe }}">
  <meta property="og:url" content="{{ current_url | safe }}">
  <meta property="twitter:url" content="{{ current_url | safe }}">

	{#<meta property="og:description" content="{{ description | safe }}">#}
	{#<meta name="twitter:description" content="{{ description | safe }}">#}

	{% block head %}{% endblock head %}
</head>

<body class="min-h-screen flex flex-col justify-between {% block bodyclass %}{% endblock bodyclass %}">
  {% include "header.html" %}

  {% block content %}{% endblock content %}

  {% include "footer.html" %}
</body>

</html>
