<!--
Ici c'est pour ajouter des classes qui sont ajoutées par du javascript ou autre,
Et qui ne seraient pas générées si elles n'étaient nulle part.
-->
<div class="lg:bg-green-tone-7"></div>
<div
	class="border-l-triangle-1 border-r-triangle-1 prose-h2:before:border-l-triangle-1 prose-h2:after:border-r-triangle-1">
</div>
<div
	class="border-l-triangle-2 border-r-triangle-2 prose-h2:before:border-l-triangle-2 prose-h2:after:border-r-triangle-2">
</div>
<div
	class="border-l-triangle-3 border-r-triangle-3 prose-h2:before:border-l-triangle-3 prose-h2:after:border-r-triangle-3">
</div>
<div
	class="border-l-triangle-4 border-r-triangle-4 prose-h2:before:border-l-triangle-4 prose-h2:after:border-r-triangle-4">
</div>
