{# vim: set ft=htmldjango: #}
{%- set settings = load_data(path="data/settings.json") -%}
<footer class="px-8 py-4 mt-6">
	<div class="flex flex-col items-center text-center md:block md:space-x-2">
		{% if settings.adresse -%}
		<span class="pr-2 md:border-r border-black">
			{{ settings.adresse | trim }}
		</span>
		{% endif -%}
		{% if settings.telephone1 -%}
		<a class="pr-2 md:border-r border-black font-bold" href="tel:{{ settings.telephone1 | trim }}">
			{{ settings.telephone1 | trim }}
		</a>
		{% endif -%}
		{% if settings.telephone2 -%}
		<a class="pr-2 md:border-r border-black font-bold" href="tel:{{ settings.telephone2 | trim }}">
			{{ settings.telephone2 | trim }}
		</a>
		{% endif -%}
		{% if settings.mail -%}
		<a class="pr-2 md:border-r border-black font-bold" href="mailto:{{ settings.mail | trim }}">
			{{ settings.mail | trim }}
		</a>
		{% endif -%}
		{% if settings.newsletter -%}
		<a class="pr-2 md:border-r border-black font-bold" href="{{ settings.newsletter | trim }}" target="_blank">
			Newsletter
		</a>
		{% endif -%}
		{% if settings.adhesion -%}
		<a class="pr-2 md:border-r border-black font-bold" href="{{ settings.adhesion | trim }}">
			Adhésion
		</a>
		{% endif -%}
		{# À mettre en <p>, en dessous du div si elles veulent un retour à la ligne #}
		{% if settings.info_license -%}
		<span class="text-sm italic mt-2">
			{{ settings.info_license | trim }}
		</span>
		{% endif -%}
	</div>
</footer>
