{% set tabs = load_data(path="data/tabs.yaml") %}
<header class="flex flex-wrap xl:flex-nowrap w-screen pt-4 px-4 overflow-y-scroll xl:overflow-y-visible xl:top-0">
	<a href="#main" class="sr-only focus:not-sr-only focus:block focus:absolute left-0 top-0 p-2 bg-white font-bold">
		Sauter au contenu principal
	</a>
	<nav class="flex w-full flex-row flex-wrap xl:flex-nowrap justify-between xl:gap-x-2">
		<a class="w-28" href="{{ get_url(path='', trailing_slash=true) }}">
			<img alt="Accueil" src="{{ get_url(path='img/logo.png') }}" />
		</a>
		<div class="contents xl:flex xl:h-min xl:gap-x-2">
			<ul id="extramenu"
				class="hidden md:flex order-3 xl:order-none flex-col items-center md:flex-row md:items-stretch gap-y-2 md:gap-y-0 md:gap-x-2 md:h-min w-full xl:w-auto underline md:no-underline md:mb-12">
				{% for tab in tabs %}
				{%- set current = current_path is starting_with(tab.url) -%}
				{%- set class = "" -%}
				{% if current %}
				{%- set class = "before:absolute before:left-4 before:z-[-1] before:w-5 before:h-5 before:rounded-full
				before:bg-pink-500/30" -%}
				{% endif %}
				<li class="group pr-2 md:border-r border-green-tone-4 flex flex-col justify-center items-center relative">
					{% if not tab.children %}
					<a class="{{class}}" href="{{ get_url(path=tab.url, trailing_slash=true) }}">
						{{ tab.title }}
					</a>
					{% else %}
					<p class="peer group-has-[:focus]:underline group-has-[:hover]:underline {{class}}">
						{{ tab.title }}
					</p>
					{% if tab.children %}
					<ul class="overflow-hidden h-0
						hover:h-fit peer-hover:h-fit peer-focus:h-fit focus-within:h-fit
						hover:md:py-10 peer-hover:md:py-10 peer-focus:md:py-10 focus-within:md:py-10
						hover:overflow-visible peer-hover:overflow-visible peer-focus:overflow-visible focus-within:overflow-visible
						md:absolute md:-bottom-20 md:left-0
						flex flex-col items-center md:flex-row w-max gap-x-2 text-green-tone-4">
						{% for subtab in tab.children %}
						{%- set subtab_url = tab.url ~ subtab.url -%}
						{%- set subcurrent = current_path == subtab_url ~ "/" -%}
						<li class="pr-2 flex flex-col items-center justify-center relative">
							<a class="{% if subcurrent %}before:absolute before:left-4 before:z-[-1] before:w-5 before:h-5 before:rounded-full before:bg-yellow-500/30{% endif %}"
								href="{{ get_url(path=tab.url ~ subtab.url, trailing_slash=true) }}">
								{{ subtab.title }}
							</a>
						</li>
						{% endfor %}
					</ul>
					{% endif %}
					{% endif %}
				</li>
				{% endfor %}
			</ul>
			<ul class="flex flex-row gap-y-0 gap-x-2 h-min">
				<li class="w-8 flex flex-col justify-center hover:brightness-150">
					<a class="" href="{{ get_url(path='', trailing_slash=true) }}#actualites">
						<img alt="Agenda" src="{{ get_url(path='img/agenda.png') }}" />
					</a>
				</li>
				<li class="w-8 flex flex-col justify-center hover:brightness-150">
					<a class="" href="{{ get_url(path='infos-pratiques', trailing_slash=true) }}">
						<img alt="Informations pratiques" src="{{ get_url(path='img/information.png') }}" />
					</a>
				</li>
				<li class="w-8 flex flex-col justify-center hover:brightness-150">
					<a class="" href="https://www.instagram.com/bord_de_l_eau/">
						<img alt="Instagram" src="{{ get_url(path='img/instagram.png') }}" />
					</a>
				</li>
				<li class="w-8 flex flex-col justify-center hover:brightness-150">
					<a class="" href="https://www.facebook.com/people/Le-Bord-de-lEau/100050447636404/">
						<img alt="Facebook" src="{{ get_url(path='img/facebook.png') }}" />
					</a>
				</li>
				<li class="w-8 flex flex-col justify-center md:hidden hover:brightness-150">
					<button id="menu-burger" class="flex flex-col">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 45" class="w-8 fill-green-tone-2">
							<rect width="100" height="15" rx="10" x="0" y="0" />
							<rect width="100" height="15" rx="10" x="0" y="30" />
						</svg>
						<p class="font-title font-bold text-sm text-green-tone-2 uppercase">Menu</p>
					</button>
				</li>
			</ul>
		</div>
	</nav>
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			const burger = document.querySelector("#menu-burger");
			burger.onclick = e => {
				const extramenu = document.querySelector("#extramenu");
				extramenu.classList.toggle("hidden");
				extramenu.classList.toggle("flex");
			};
		});
	</script>
	<!-- <script> -->
	<!-- 	window.onload = () => { -->
	<!-- 		const o = new IntersectionObserver( -->
	<!-- 			([e]) => e.target.classList.toggle("lg:bg-green-tone-7"), -->
	<!-- 			{threshold: [1]} -->
	<!-- 		); -->
	<!-- 		o.observe( -->
	<!-- 			document.querySelector("header") -->
	<!-- 		); -->
	<!-- 	}; -->
	<!-- </script> -->
</header>
