{% extends "base.html" %}

{% block data %}
{%- set leftback = "before:bg-green-tone-7 before:absolute before:left-0 before:top-0 before:z-[-2] before:w-full before:lg:w-[70%] before:h-full" -%}
{% endblock data %}

{% block bodyclass %}{{ leftback }}{% endblock bodyclass %}

{% block content %}

<main id="main">
  <section class="flex flex-col lg:flex-row items-center lg:gap-x-6 lg:justify-around mx-6 {{leftback}}">
    <div class="w-4/5 lg:w-2/5 mt-6 lg:mt-[10vh] lg:self-start">
      <img
        src="{{ get_url(path="img/borddeleau.gif") }}"
        alt="Bord de l'Eau : lieu de convivialité, lieu de formation, lieu de création, pôle ressource"
        />
    </div>

		{%- set settings = load_data(path="data/settings.json") -%}

    <div class="py-2 px-6 space-y-6 sm:w-[500px] h-min bg-white mt-6 lg:mt-[30vh]">
      <h1 class="text-2xl font-title font-black uppercase text-green-tone-2">
				{{ settings.titre }}
      </h1>
      <p>
				{{ settings.description }}
      </p>
    </div>

    <ul class="flex flex-col md:max-lg:flex-row items-center md:justify-evenly mt-6 gap-y-6 md:gap-y-0 lg:gap-y-6 md:gap-x-2 lg:gap-x-0 font-title uppercase text-xl font-extrabold">
      <li class="text-white bg-center bg-contain bg-no-repeat" style="background-image: url({{ submacros::get_path(path='img/participer.png') }})">
				<a href="{{ get_url(path="collectif", trailing_slash=true) }}#adherents-benevoles" class="w-36 h-32 flex items-center justify-center">
          <span class="">
            Participer
          </span>
        </a>
      </li>
      <li class="text-black bg-center bg-contain bg-no-repeat" style="background-image: url({{ submacros::get_path(path='img/pratiquer.png') }})">
        <a href="{{ get_url(path="activites/formation", trailing_slash=true) }}" class="w-36 h-32 flex items-center justify-center">
          <span>
            Pratiquer
          </span>
        </a>
      </li>
      <li class="text-white bg-center bg-contain bg-no-repeat" style="background-image: url({{ submacros::get_path(path='img/decouvrir.png') }})">
        <a href="" class="w-36 h-32 flex items-center justify-center">
          <span>
            Découvrir
          </span>
        </a>
      </li>
      <li class="text-black bg-center bg-contain bg-no-repeat" style="background-image: url({{ submacros::get_path(path='img/professionnel.png') }})">
        <a href="" class="w-36 h-32 flex items-center justify-center">
          <span>
            Professionnel·les
          </span>
        </a>
      </li>
    </ul>
  </section>

  <section class="mt-4">
    {{ macros::triangle_title(text="Actualités", size=30, smsize=70, classes="uppercase my-8") }}

    <ul
			id="filteredlist"
			class="mx-3 flex flex-wrap justify-start group"
			data-type="tout"
			>
      <li class="w-[300px] flex flex-col items-center self-start mx-3 my-3">
        <ul class="space-y-2 mt-2 text-lg uppercase">
					<li>
						<label class="">
							<input class="sr-only peer" type="radio" checked name="events" id="tout">
							<span class="peer-checked:font-bold peer-checked:after:content-['✓']">Tout voir</span>
						</label>
					</li>
					<li>
						<label class="">
							<input class="sr-only peer" type="radio" name="events" id="stage">
							<span class="peer-checked:font-bold peer-checked:after:content-['✓']">Les stages</span>
						</label>
					</li>
					<li>
						<label class="">
							<input class="sr-only peer" type="radio" name="events" id="atelier">
							<span class="peer-checked:font-bold peer-checked:after:content-['✓']">Les ateliers</span>
						</label>
					</li>
					<li>
						<label class="">
							<input class="sr-only peer" type="radio" name="events" id="chantier">
							<span class="peer-checked:font-bold peer-checked:after:content-['✓']">Les chantiers</span>
						</label>
					</li>
					<li>
						<label class="">
							<input class="sr-only peer" type="radio" name="events" id="jeudi">
							<span class="peer-checked:font-bold peer-checked:after:content-['✓']">Les jeudis</span>
						</label>
					</li>
					<li>
						<label class="">
							<input class="sr-only peer" type="radio" name="events" id="grandrendezvous">
							<span class="peer-checked:font-bold peer-checked:after:content-['✓']">Le Grand Rendez-Vous</span>
						</label>
					</li>
					<li>
						<label class="">
							<input class="sr-only peer" type="radio" name="events" id="residence">
							<span class="peer-checked:font-bold peer-checked:after:content-['✓']">Les résidences</span>
						</label>
					</li>
					<li>
						<label class="">
							<input class="sr-only peer" type="radio" name="events" id="autres">
							<span class="peer-checked:font-bold peer-checked:after:content-['✓']">Autres</span>
						</label>
					</li>
        </ul>
				<script>
					document.addEventListener("DOMContentLoaded", function() {
						const filteredlist = document.querySelector("#filteredlist");
						filteredlist.addEventListener("click", event => {
							if (event?.target?.matches("input[type=radio][name=events]")) {
								filteredlist.dataset.type = event.target.id;
							}
						});
					});
				</script>
      </li>

			{%- set actualites = load_data(path="data/news.json") -%}
			{%- for actualite in actualites -%}
			{%- if not actualite.titre      -%}{{ throw(message="No titre in "      ~ actualite.date_debut) }}{%- endif -%}
			{%- if not actualite.image      -%}{{ throw(message="No image in "      ~ actualite.titre) }}{%- endif -%}
			{%- if not actualite.type       -%}{{ throw(message="No type in "       ~ actualite.titre) }}{%- endif -%}
			{%- if not actualite.date_debut -%}{{ throw(message="No date_debut in " ~ actualite.titre) }}{%- endif -%}

			<li class="w-[300px] mx-3 my-3 space-y-2 {# show only when not data-* attribute present #} hidden group-data-[type=tout]:block group-data-[type={{actualite.type}}]:block">
				{% if actualite.lien %}<a href="{{ actualite.lien }}" class="space-y-2">{% endif %}
				<img src="{{ get_url(path="img/smallsquare-"~actualite.image~".webp") }}" alt="" />
        <div class="">
          <h3 class="text-green-tone-2 font-title font-extrabold uppercase text-lg text-center">
						{{ actualite.titre }}
          </h3>
          <p class="font-title font-extrabold text-center">
					{{ macros::temps(event=actualite) }}
          </p>
        </div>
				{% if actualite.lien %}</a>{% endif %}
      </li>
			{%- else -%}
			<p>Pas d'actualités pour le moment.</p>
			{%- endfor -%}
    </ul>
  </section>
</main>

{% endblock content %}
