{% extends "base.html" %}

{% block bodyclass %}bg-green-tone-7{% endblock bodyclass %}

{% block content %}

{%- set split1 = page.extra.contenu | split(pat="</h1>") -%}
{%- if split1 | length > 1 -%}
	{%- set h1 = split1 | first -%}
	{%- set h1 = h1 ~ "</h1>" -%}
{%- else -%}
	{%- set h1 = "" -%}
{%- endif -%}
{%- set sections = split1 | last | split(pat="<hr>") -%}

{# TODO convert to inline style to support 4 stop-points
	<main class="w-full px-1 lg:mt-8 bg-gradient-to-t via-green-tone-7 from-transparent to-transparent via-50% from-2% to-98%">
#}
<main id="main" class="w-full px-1 lg:mt-8 bg-white">
	{%- for h2 in sections -%}
		{%- set left = loop.index0 % 2 == 0 -%}
		<section class="w-full flex flex-col items-center {% if left %}lg:flex-row{% else %}lg:flex-row-reverse{% endif %}">
			<div class="w-full lg:w-1/2 my-4
				prose prose:max-w-full
				prose-headings:font-title prose-headings:font-normal
				prose-h1:mt-2 prose-h1:text-5xl prose-h1:text-green-tone-4 prose-h1:uppercase
				prose-h1:ml-10 sm:prose-h1:ml-20
				prose-h1:my-0 prose-h2:my-0 prose-p:mt-2
				prose-h2:text-rose-tone-5 {% if not left %}prose-h2:text-right{% endif %}
				prose-h3:text-bordeaux-tone-3
				{{ macros::prose_triangle_title(size=30, smsize=70, textsize="3xl", left=left) }}
				prose-p:text-black
				prose-p:px-6 prose-ul:px-6 prose-table:px-6 prose-h3:px-6
				xl:prose-p:px-12 xl:prose-ul:px-12 xl:prose-table:px-12 xl:prose-h3:px-12
				2xl:prose-p:px-20 2xl:prose-ul:px-20 2xl:prose-table:px-20 2xl:prose-h3:px-20
				">

				{%- if loop.index0 == 0 -%}
				{{ h1 | safe }}
				{% endif -%}
				{{ h2 | safe }}
			</div>
			{%- if page.extra.nb_images > loop.index0 -%}
			<img class="w-full max-w-[95vh] lg:w-1/2 lg:self-stretch lg:object-cover" src="./image-{{loop.index0}}.webp" alt="{# TODO #}" loading="lazy" />
			{% endif -%}
		</section>
	{%- endfor -%}

	{%- set sections_length = sections | length -%}
	{%- if page.extra.nb_images > sections_length -%}
		<section class="w-full flex flex-col items-center mt-4 gap-y-4">
			{%- for i in range(start=sections_length, end=page.extra.nb_images) -%}
				<img class="w-full max-w-[1400px]"  src="./image-{{i}}.webp" alt="{# TODO #}" loading="lazy" />
			{%- endfor -%}
		</section>
	{%- endif -%}

	{%- set vignettes = load_data(path=current_path~"/vignettes.json") -%}
	{%- if vignettes | length > 0 -%}
		<section class="w-full mt-4 px-4 md:px-10 flex flex-wrap justify-evenly md:gap-x-4">
		{%- for vignette in vignettes -%}
			<div class="w-60 leading-normal prose prose-p:my-1 prose-img:mb-2 prose-a:text-fuchsia-700">
				{% if vignette.image %}
				<img src="{{ get_url(path="img/smallsquare-"~vignette.image~".webp") }}" alt="{{ vignette.titre }}" />
				{% endif %}
				{{ vignette.texte | safe }}
			</div>
		{%- endfor -%}
		</section>
	{%- endif -%}
</main>

{% endblock content %}
